# Configuración para evitar problemas de permisos en Windows
ignore-workspace-root-check=true
# Ignorar errores EPERM en Windows
unsafe-perm=true
# Reducir la cantidad de información de depuración
loglevel=error
